/* Custom styles */
body { background-color: rgb(240,240,240); }
div { font-size: 10pt; }
.table-container {
}
.table-wrapper {
    border: 1px solid gray;
    padding: 10px;
}
.nav-tabs .nav-link.active {
    background-color: rgb(220,220,220);
}